/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.section {
  padding: 70px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.toolLogo {
  background-color: transparent !important;
  border-bottom: 0 !important;
}
.toolLogo img {
  height: 50px;
  margin: 0 25px 15px 0;

}
.toolLogo img:hover {
  opacity: 0.5;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  /*max-width: 700px;*/
  margin: 0 auto;
}
.videoIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
