.media {
  height:150px;
}
.media-left {
  vertical-align: top;
  padding-top:20px;
}
.media-left .icon 
{
  display: block;
  width: 80px;
  height: 80px;
  padding: 16px 6px;
  color: #F8B435;
  text-align: center;
  vertical-align: top;
  border-radius: 50%;
} 
.media .media-left .icon::before
{
  font-size: 44px;
} 
.media-left > .icon {
  background-color: #333;
}
.media-body {
  padding-left:10px;
  line-height:1.7em;
  text-decoration:none;
}
.features {
  padding-bottom:130px;
}






.jumbotron {
  background: url('/images/background.jpg') no-repeat center center;
  color: white;
  text-shadow: #444 0 1px 1px;
  margin-top:50px;
  padding:60px 40px;
}
.jumbotron h1 {
  margin-top:0px;
}
@media only screen and (max-width: 768px) {
  .jumbotron {
    margin-top:-20px;
  }
}






.toc .nav > li > a {
  vertical-align: middle;
}
.toc .nav > li > a > .icon {
  display: inline-block;
  width: 30px;
}
@media only screen and (max-width: 768px) {
  .toc .nav > li > a > .icon {
    display: none;
  }
  .toc {
    padding-bottom:0px;
  }
  .toc .nav > li > a {
    margin-left:0px;
  }
}





.article {
  margin-top: 50px;
}
.toc {
  padding-bottom:100px;
}
.sidefilter {
  top:51px;
}
.sidetoc {
  top:110px;
  margin-top:0px;
}




.category {
    position: relative;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.category:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #6f7890;
}

.category-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100%;
    color: inherit;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #6f7890;
    vertical-align: middle;
    background-color: #f1f1f1;
}