image: mcr.microsoft.com/dotnet/sdk:5.0

variables:
  GIT_DEPTH: 0

stages:
  - build

build:
  stage: build
  variables:
    EnterpriseAccessToken: $ENTERPRISE_ACCESS_TOKEN
  script:
    - './build.cmd Pack Test'
