language: csharp
os:
  - osx
  - linux

sudo: required
dist: trusty

addons:
  apt:
    sources:
    - sourceline: 'deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-trusty-prod trusty main'
      key_url: 'https://packages.microsoft.com/keys/microsoft.asc'
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8

osx_image: xcode8.3

mono:
  - 5.0.0
  
git:
  depth: false

script:
  - ./build.sh
