.featureSection h2 {
    font-size: 2.7em;
    font-weight: 500;
}

.featureSection h3 {
    margin-bottom: 24px;
}

.featureSection p {
    font-size: 1.1em;
}

.largeFeatureRow {
    row-gap: 20px;
}

.largeFeatureRowReversed {
    flex-wrap: wrap-reverse;
}
